@charset "UTF-8";

/* 여러분들께 ... 
- 흰색 : #eee / 검은색 : #181818 / 포인트 갈색 : #ad7b61 
- container 영역은 PC, TB : 90% / MO : 95% 로 잡아놓았으나 바꿔야 하는 경우에는 공통 영역에 있는 선택자 대신, 각 섹션 영역 안 선택자에서 바꿔주세요!
- 자바스크립트나 제이쿼리 파일은 따로 만들어서 넣으시되 이름은 script.js 또는 script_jQuery.js 로 통일해 주세요!! 
- 영문은 G마켓 산스, 한글은 아래 폰트 패밀리를 복사해서 사용해 주세요! 디자인 파일에는 대부분 Medium 이랑 Light 만 쓰였는데, 필요시엔 함께 의논해서 bold 도 써보아요.
-  G마켓 산스는 너무 얇아서 필요시 font-weight 는 bold 로 설정해 주세요. 
 */


@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'THELuxGoEB';
    src: url('../font/THELuxGoEB.eot'); 
    src: url('../font/THELuxGoEB.eot?#iefix') format('embedded-opentype'),
        url('../font/THELuxGoEB.woff2') format('woff2'),
        url('../font/THELuxGoEB.woff') format('woff'),
        url('../font/THELuxGoEB.ttf') format('truetype'),
        url('../font/THELuxGoEB.svg#THELuxGoEB') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THELuxGoB';
    src: url('../font/THELuxGoB.eot');
    src: url('../font/THELuxGoB.eot?#iefix') format('embedded-opentype'),
        url('../font/THELuxGoB.woff2') format('woff2'),
        url('../font/THELuxGoB.woff') format('woff'),
        url('../font/THELuxGoB.ttf') format('truetype'),
        url('../font/THELuxGoB.svg#THELuxGoB') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THELuxGoL';
    src: url('../font/THELuxGoL.eot');
    src: url('../font/THELuxGoL.eot?#iefix') format('embedded-opentype'),
        url('../font/THELuxGoL.woff2') format('woff2'),
        url('../font/THELuxGoL.woff') format('woff'),
        url('../font/THELuxGoL.ttf') format('truetype'),
        url('../font/THELuxGoL.svg#THELuxGoL') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THELuxGoM';
    src: url('../font/THELuxGoM.eot');
    src: url('../font/THELuxGoM.eot?#iefix') format('embedded-opentype'),
        url('../font/THELuxGoM.woff2') format('woff2'),
        url('../font/THELuxGoM.woff') format('woff'),
        url('../font/THELuxGoM.ttf') format('truetype'),
        url('../font/THELuxGoM.svg#THELuxGoM') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* 폰트 영역 */

html, body {font-size: 20px; color: #eee; background-color: #181818;}
.container {width: 90%; margin: 0 auto;}
.clear:after {content:""; display: block; clear: both;}
/* 공통 영역 */

/* Header 시작 */
#header {}
#header .container {}
/* Header 영역 */

/* 메인 시작 */
#main {}
#main .container {}
/* 메인 끝 */

/* Section01 시작 */

/* background 영역 */
#sec01 {}
#sec01 .container {}
#sec01 .design_01{position: relative;}
#sec01 .design_01 p{display: block; margin-top: 5rem;}
#sec01 .design_01 h1{font-size: 120px; color:#ad7b61;}
#sec01 .design_01 img{opacity: 0.2; display: inline-block; margin-left:-600px; width: 1920px; margin-top: -170px;  display: none;}

#sec01 .design_02{position: absolute; top:30%; right:0; text-align:right;} 
#sec01 .design_02 span{font-size: 130px;}
#sec01 .design_02 span:nth-child(2){font-size: 20px;}
#sec01 .design_02 p{line-height: 40px; margin-top:0;}

#sec01 .car{position: relative;}
#sec01 .car a{display: block;}
#sec01 .car a img{display: none; width:1200px;  margin: 0 auto; position: absolute; top:0; left:0; margin-left: 150px;;}
#sec01 .car a:first-child img {display: block;}

#sec01 .color h2{display: inline-block; margin-top: 550px;}
#sec01 .color span{border-bottom: 3px solid #4a4a4a; display:block; margin-top: 20px;}
#sec01 .color .tabBtn{margin-top: 50px; display: flex; justify-content: center;}
#sec01 .color .tabBtn li{flex-basis: 100px; height: 50px; margin: 0 10px;}
#sec01 .color .tabBtn li.tabBtn1 {background-color: #fff; border: 2px solid #787575;}
#sec01 .color .tabBtn li.tabBtn2 {background-color: #858585; border: 2px solid #d1caca;}
#sec01 .color .tabBtn li.tabBtn3 {background-color: #262c31; border: 2px solid #d3ebff;}
#sec01 .color .tabBtn li.tabBtn4 {background-color: #838c90; border: 2px solid #d7e8f0;}
#sec01 .color .tabBtn li.tabBtn5 {background-color: #25312f; border: 2px solid #98aba8;}
#sec01 .color .tabBtn li.tabBtn6 {background-color: #083877; border: 2px solid #98a6b9;}
#sec01 .color .tabBtn li.tabBtn7 {background-color: #002236; border: 2px solid #a3b5c8;}
#sec01 .color .tabBtn li.tabBtn8 {background-color: #001b38; border: 2px solid #a3b5c8;}
#sec01 .color .tabBtn li.tabBtn9 {background-color: #87080b; border: 2px solid #db7b7d;}
#sec01 .color .tabBtn li.tabBtn10 {background-color: #2f1b19; border: 2px solid #8e6c69;}

#sec01 .color .tabBtn li a{display: block;}


 
/* background 영역 */

/* Section01 끝 */

/* Section02 시작 */
#sec02 {}
#sec02 .container {}
/* Section02 끝 */

/* Section03 시작 */
#sec03 {}
#sec03 .container {}
/* Section03 끝 */

/* Section04 시작 */
#sec04 {}
#sec04 .container {}
/* Section04 끝 */

/* Footer 시작 */
#footer {}
#footer .container {}
/* Footer 끝 */

/* 태블릿 버전 시작 */
@media (min-width: 768px) and (max-width: 1199px){
    html, body {font-size: 16px;}
    .container {width: 90%; margin: 0 auto;}
    /* background 영역 */
#sec01 {}
#sec01 .container {}
#sec01 .design_01 {position: relative;}
#sec01 .design_01 p {display: block; margin-top: 5rem;}
#sec01 .design_01 h1 {font-size: 120px; color:#ad7b61;}
#sec01 .design_01 img {opacity: 0.2; display: inline-block; margin-left:-600px; width: 1920px; margin-top: -170px;  display: none;}

#sec01 .design_02 {position: absolute; top:30%; right:0; text-align:right;} 
#sec01 .design_02 span {font-size: 130px;}
#sec01 .design_02 span:nth-child(2){font-size: 20px;}
#sec01 .design_02 p{line-height: 40px; margin-top:0;}

#sec01 .car {position: relative;}
#sec01 .car a {display: block;}
#sec01 .car a img {display: none; width:1000px;  margin: 0 auto; position: absolute; top:0; left:0;}
#sec01 .car a:first-child img {display: block;}

#sec01 .color h2 {display: inline-block; margin-top: 550px;}
#sec01 .color span {border-bottom: 3px solid #4a4a4a; display:block; margin-top: 20px;}
#sec01 .color .tabBtn {display: grid; grid-template: repeat(2, auto) / repeat(5, 16%); row-gap: 20px; justify-content: space-between;}
#sec01 .color .tabBtn li {}


#sec01 .color .tabBtn li a {display: block; padding: 10px 70px;}

}

/* 태블릿 버전 끝 */

/* 모바일 버전 시작 */
@media (max-width:767px){
    html, body {font-size:12px;}
    .container {width: 95%; margin: 0 auto;}
    #sec01 {}
    #sec01 .container {}
    #sec01 .design_01{position: relative;}
    #sec01 .design_01 p{display: block; margin-top: 5rem;}
    #sec01 .design_01 h1{font-size: 120px; color:#ad7b61;}
    #sec01 .design_01 img{opacity: 0.2; display: inline-block; margin-left:-600px; width: 1920px; margin-top: -170px;  display: none;}
    
    #sec01 .design_02{position: absolute; top:30%; right:0; text-align:right;} 
    #sec01 .design_02 span{font-size: 130px;}
    #sec01 .design_02 span:nth-child(2){font-size: 20px;}
    #sec01 .design_02 p{line-height: 40px; margin-top:0;}
    
    #sec01 .car{position: relative;}
    #sec01 .car a{display: block;}
    #sec01 .car a img{display: none; width:120%; margin-left: -80px;}
    #sec01 .car a:first-child img {display: block;}
    
    #sec01 .color h2{display: inline-block; margin-top: 550px;}
    #sec01 .color span{border-bottom: 3px solid #4a4a4a; display:block; margin-top: 20px;}
    #sec01 .color .tabBtn{margin-top: 50px; }
    #sec01 .color .tabBtn li{flex-basis: 100px; height: 50px; margin: 0 10px;}
    #sec01 .color .tabBtn li.tabBtn6 {background-color: #083877; border: 2px solid #98a6b9; display: inline-block; width: 50px; }
    #sec01 .color .tabBtn li.tabBtn7 {background-color: #002236; border: 2px solid #a3b5c8; display: none;}
    #sec01 .color .tabBtn li.tabBtn8 {background-color: #001b38; border: 2px solid #a3b5c8; display: none;}
    #sec01 .color .tabBtn li.tabBtn9 {background-color: #87080b; border: 2px solid #db7b7d; display: none;}
    #sec01 .color .tabBtn li.tabBtn10 {background-color: #2f1b19; border: 2px solid #8e6c69; display: none;}
    
    /* #sec01 .color .tabBtn li a{display: block;} */
    /* #sec01 .color .tabBtn li a {display: block; padding: 10px 55px;} */
}

/* 모바일 버전 끝 */

